/*
.container-fluid {
  max-width: 976px;
}
*/

#preview{
  border-style: inset;
  min-height: 100px;
}

img{
  width: 100%;
  max-width: 450px;
  height: auto;
}

.load_spinner {
  width: 20px !important;
}

#homerange {
  max-width: 450px;
}